# {{ ansible_managed }}

*filter
:INPUT {{ iptables_input_policy }} [0:0]
:FORWARD {{ iptables_forward_policy }} [0:0]
:OUTPUT {{ iptables_output_policy }} [0:0]

:UDP - [0:0]
:TCP - [0:0]
:ICMP - [0:0]

{% for rule in iptables_rules %}
{% if rule.protocol == "tcp" %}
-A TCP -p tcp -s {{ rule.source_addresses|default("0.0.0.0/0") }} --dport {{ rule.port|default("0:65535") }} {% if rule.comment is defined -%} -m comment --comment "{{ rule.comment }}" {%- endif %} -j ACCEPT
{% endif %}
{% if rule.protocol == "udp" %}
-A UDP -p udp -s {{ rule.source_addresses|default("0.0.0.0/0") }} --dport {{ rule.port|default("0:65535") }} {% if rule.comment is defined -%} -m comment --comment "{{ rule.comment }}" {%- endif %} -j ACCEPT
{% endif %}
{% if rule.protocol == "any" %}
-A TCP -p tcp -s {{ rule.source_addresses|default("0.0.0.0/0") }} --dport {{ rule.port|default("0:65535") }} {% if rule.comment is defined -%} -m comment --comment "{{ rule.comment }}" {%- endif %} -j ACCEPT
-A UDP -p udp -s {{ rule.source_addresses|default("0.0.0.0/0") }} --dport {{ rule.port|default("0:65535") }} {% if rule.comment is defined -%} -m comment --comment "{{ rule.comment }}" {%- endif %} -j ACCEPT
{% endif %}
{% endfor %}

{% if iptables_icmp_enabled %}
-A INPUT -p icmp --icmp-type redirect -j DROP
-A INPUT -p icmp -j ACCEPT
{% endif %}

-N f2b-sshd
-A INPUT -p tcp -m multiport --dports 22 -j f2b-sshd
-A INPUT -i lo -j ACCEPT
-A INPUT -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT
-A INPUT -m conntrack --ctstate INVALID -j DROP

-A INPUT -p udp -m conntrack --ctstate NEW -j UDP
-A INPUT -p tcp --syn -m conntrack --ctstate NEW -j TCP
-A INPUT -p icmp -m conntrack --ctstate NEW -j ICMP
-A INPUT -p tcp --dport 80 -j ACCEPT
-A INPUT -p tcp --dport 443 -j ACCEPT
-A INPUT -4 -p icmp -j ACCEPT
-A INPUT -6 -p icmp6 -j ACCEPT
-A INPUT -p udp -j REJECT --reject-with icmp-port-unreachable
-A INPUT -p tcp -j REJECT --reject-with tcp-reset
-A INPUT -j REJECT --reject-with icmp-proto-unreachable
-A f2b-sshd -j RETURN
-P INPUT DROP

-A OUTPUT -p tcp --dport 443 -j ACCEPT
-A OUTPUT -o eth0 -p tcp --dport 9418

COMMIT

*nat
:PREROUTING ACCEPT [0:0]
{% if ansible_distribution != 'CentOS' %}
:INPUT ACCEPT [0:0]
{% endif %}
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]

-A PREROUTING -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT

{% for port_forward in iptables_port_forward_rules %}
{% if port_forward.protocol == "tcp" %}
-A PREROUTING -i {{ port_forward.interface|default("eth0") }} -p tcp -m conntrack --ctstate NEW --dport {{ port_forward.port|default("0:65535") }} -j DNAT --to-destination {{ port_forward.to_ip }}:{{ port_forward.to_port }}
{% endif %}
{% if port_forward.protocol == "udp" %}
-A PREROUTING -i {{ port_forward.interface|default("eth0") }} -p udp -m conntrack --ctstate NEW --dport {{ port_forward.port|default("0:65535") }} -j DNAT --to-destination {{ port_forward.to_ip }}:{{ port_forward.to_port }}
{% endif %}
{% if port_forward.protocol == "any" %}
-A PREROUTING -i {{ port_forward.interface|default("eth0") }} -p tcp -m conntrack --ctstate NEW --dport {{ port_forward.port|default("0:65535") }} -j DNAT --to-destination {{ port_forward.to_ip }}:{{ port_forward.to_port }}
-A PREROUTING -i {{ port_forward.interface|default("eth0") }} -p udp -m conntrack --ctstate NEW --dport {{ port_forward.port|default("0:65535") }} -j DNAT --to-destination {{ port_forward.to_ip }}:{{ port_forward.to_port }}
{% endif %}

{% endfor %}

-A POSTROUTING -j MASQUERADE

COMMIT
