server {
        listen 80;
        # listen [::]:80 default_server;

        root /var/www/{{ project_path }};

        # Add index.php to the list if you are using PHP
        index index.html index.htm index.php;

        server_name {{ project }}.{{ domain }};

        include /etc/nginx/snippets/general-security-headers.conf;
        include /etc/nginx/snippets/expires.conf;

        location / {
                # First attempt to serve request as file, then
                # as directory, then fall back to displaying a 404.
                try_files $uri $uri/ /index.php$is_args$args;
        }

        location ~ \.php$ {
                try_files $uri /index.php =404;
                fastcgi_split_path_info ^(.+\.php)(/.+)$;
                fastcgi_read_timeout 300;
                fastcgi_index index.php;
                fastcgi_pass unix:/var/run/php/php{{ php_version }}-fpm.sock;
                fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
                include fastcgi_params;
        }
}
