server {
    # listen 80;
    root /var/www/;
    index index.html index.htm index.php;

    server_name ingrammicrogbs.app;

    access_log /var/log/nginx/{{ hostname }}.log;
    error_log /var/log/nginx/{{ hostname }}-error.log error;

    charset utf-8;

    # include h5bp/basic.conf;

    location / {
        try_files $uri $uri/ /index.php$is_args$args;
    }

    # im-hmo
    location /im-hmo {
        alias /var/www/im-hmo/public;
        try_files $uri $uri/ @im-hmo;

        location ~ \.php$ {
            include snippets/fastcgi-php.conf;
            fastcgi_param SCRIPT_FILENAME $request_filename;
            fastcgi_pass unix:/var/run/php/php7.2-fpm.sock;
        }
    }

    location @im-hmo {
        rewrite /im-hmo/(.*)$ /im-hmo/index.php?/$1 last;
    }

    # im-budget
    location /im-budget {
        alias /var/www/im-budget/public;
        try_files $uri $uri/ @im-budget;

        location ~ \.php$ {
            include snippets/fastcgi-php.conf;
            fastcgi_param SCRIPT_FILENAME $request_filename;
            fastcgi_pass unix:/var/run/php/php7.2-fpm.sock;
        }
    }

    location @im-budget {
        rewrite /im-budget/(.*)$ /im-budget/index.php?/$1 last;
    }

    # im-aim
    location /im-aim {
        alias /var/www/im-aim/public;
        try_files $uri $uri/ @im-aim;

        location ~ \.php$ {
            include snippets/fastcgi-php.conf;
            fastcgi_param SCRIPT_FILENAME $request_filename;
            fastcgi_pass unix:/var/run/php/php7.2-fpm.sock;
        }
    }

    location @im-aim {
        rewrite /im-aim/(.*)$ /im-aim/index.php?/$1 last;
    }

    # im-prs
    location /im-prs {
        alias /var/www/im-prs/public;
        try_files $uri $uri/ @im-prs;

        location ~ \.php$ {
            include snippets/fastcgi-php.conf;
            fastcgi_param SCRIPT_FILENAME $request_filename;
            fastcgi_pass unix:/var/run/php/php7.2-fpm.sock;
        }
    }

    location @im-prs {
        rewrite /im-prs/(.*)$ /im-prs/index.php?/$1 last;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/var/run/php/php7.2-fpm.sock;
    }

    listen 443 ssl;

    ssl_certificate /etc/ssl/certbundle.pem;
    ssl_certificate_key /etc/ssl/ingrammicrogbs-stage.key;
}
